nav {
  width: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
  background: #0c111b;
  position: relative;
  z-index: 9;
}

.brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.brand a {
  text-decoration: none;
  color: #1f80e0;
}

.NavBarContainer {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.NavBarContainer.active {
  transform: translateX(0);
}

.NavBarContainer form {
  display: flex;
  align-items: center;
}

.NavBarContainer input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #fff;
  background: #1f1f1f;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.NavBarContainer button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background: #1f80e0;
  color: white;
  cursor: pointer;
  margin-right: 1.5rem;
}

.links {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.links a,
.links button {
  margin: 0 0.5rem;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.logout-button {
  background: #e63946;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  transition: all 0.3s ease-in-out;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .NavBarContainer {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      flex-direction: column;
      background: #0c111b;
      transform: translateX(-100%);
      padding: 1rem 0;
      z-index: 10;
  }

  .NavBarContainer.active {
      transform: translateX(0);
  }

  .NavBarContainer form {
      margin: 0.5rem 0;
  }

  .links {
      flex-direction: column;
  }

  .links a,
  .links button {
      margin: 0.5rem 0;
  }

  .hamburger {
      display: flex;
  }
}
