.hero-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background: linear-gradient(0deg,#070c14 0,#0c1114 100%);
}

.hero-slider {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s ease-in-out;
}

.hero-slide {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: last baseline;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease-in-out;
}

.hero-slide.active {
  left: 0;
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

.hero-slide.inactive {
  opacity: 0;
  transform: translateX(-100%);
  z-index: 1;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit:fill;
}

.hero-overlay {
  position: absolute;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 5;
}

.hero-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

/* Arrow Styles */
.hero-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: none;
  color: white;
  border: none;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.hero-arrow.prev {
  left: 10px;
}

.hero-arrow.next {
  right: 10px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero-container {
    height: 60vh;
  }

  .hero-title {
    font-size: 1.5rem;
  }

  .hero-arrow {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .hero-container {
    height: 50vh;
  }

  .hero-title {
    font-size: 1rem;
  }

  .hero-arrow {
    width: 25px;
    height: 25px;
    font-size: 1rem;
  }
}
